<a href="https://colab.research.google.com/github/balladembelemoussa/codesandbox-template-nuxt/blob/main/Untitled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [53]:
import pandas as pd

In [54]:
notes = {"Mathématiques": 19, "Français": 12, "Dessin": 15}
ser = pd.Series(notes)

print(ser)

print (ser.index) #affiche l'index de la série

print (ser.array) #affiche la data de la série

print("Meilleure note {}".format(ser["Mathématiques"]))

#vérifie si l'étiquette Sciences Physiques est présente dans l'index 
a = "Sciences Physiques" in ser 

print(a)

Mathématiques    19
Français         12
Dessin           15
dtype: int64
Index(['Mathématiques', 'Français', 'Dessin'], dtype='object')
<PandasArray>
[19, 12, 15]
Length: 3, dtype: int64
Meilleure note 19
False

In [55]:
notes = {"Mathématiques": 19, "Français": 12, "Dessin": 15}
ser = pd.Series(notes, index=["Mathématiques", "Français", "Sciences Physiques", "Dessin" ])
ser

Mathématiques         19.0
Français              12.0
Sciences Physiques     NaN
Dessin                15.0
dtype: float64

In [56]:
import numpy as np

In [57]:
ser = pd.Series(np.array([67060000, 83020000, 328200000]), index=["France", "Allemagne", "Etats-Unis"])
ser

France         67060000
Allemagne      83020000
Etats-Unis    328200000
dtype: int64

In [58]:
ser = pd.Series(5.0, index=["a", "b", "c", "d"])
ser

a    5.0
b    5.0
c    5.0
d    5.0
dtype: float64

In [59]:
data = np.array([67060000, 83020000, 328200000])
ser = pd.Series(data, index=["France", "Allemagne", "Etats-Unis"], name="Série nombre d'habitants")
ser

France         67060000
Allemagne      83020000
Etats-Unis    328200000
Name: Série nombre d'habitants, dtype: int64

In [60]:
data = np.array([67060000, 83020000, 328200000])
ser = pd.Series(data, index=["France", "Allemagne", "Etats-Unis"], name="Série nombre d'habitants")
print(ser)

ser2 = ser.rename("Nb habitants") #ser et ser2 sont deux objets différents

print(ser2)

France         67060000
Allemagne      83020000
Etats-Unis    328200000
Name: Série nombre d'habitants, dtype: int64
France         67060000
Allemagne      83020000
Etats-Unis    328200000
Name: Nb habitants, dtype: int64